<div class="col-md-6">
    <%= link_to job do %>
        <div class='ribbon_1'>Popular</div>
        <div class='desc'>
        <div class='thumb_strip'>
            <img src='img/thumb_restaurant.jpg' alt=''>
        </div>
        <div class='rating'>
            <i class='icon_star voted'></i><i class='icon_star voted'></i><i class='icon_star voted'></i><i class='icon_star voted'></i><i class='icon_star'></i>
        </div>
        <h3><%= job.title %></h3>
        <div class='salary'>
            <%= job.salary %>
        </div>
        <div class='location'>
            <span class='opening'><%= Company.find(job.company_id).name.upcase %></span> - <%=job.work_location%>
        </div>
        <ul>
            <li>Post from <%= job.dateline.to_date %><i class='icon_check_alt2 ok'></i></li>
        </ul>
        </div><!-- End desc-->
    <% end %>
</div>