<% @title = "aasd" %>
<body>
<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a>.</p>
<![endif]-->

<!-- SubHeader =============================================== -->
<section class="parallax-window" id="home" data-parallax="scroll" style='background:url(<%= asset_path 'sub_header_home.jpg' %>)' data-natural-width="1400" data-natural-height="550">
  <div id="subheader">
    <div id="sub_content">
      <h1>学んだことを実践してみたい！<br>短時間で稼ぎたい！</h1>
      <p>
        隙間時間を上手に活用！
      </p>
      <%= search_form_for @q do |f| %>
        <div id="custom-search-input">
          <div class="input-group ">
            <%= f.text_field :title_cont, class: "search-query", style: "height: 40px", placeholder: "仕事を検索" %>
          </div>
        </div>
      <% end %>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
  <div id="count" class="hidden-xs">
    <ul>
      <li><span class="number">890</span> 会社・フリーランサー</li>
      <li><span class="number">5350</span> 学生</li>
      <li><span class="number">12350</span> 仕事</li>
    </ul>
  </div>
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<!-- Content ========================sh========================== -->

<div class="high_light">
  <div class="container">
    <h3>人手がたりない！雇いたい！</h3>
    <p>低コストで数時間だけの雇用可能</p>
    <% if logged_in_student? %>
      <%= link_to "私は採用したいです", "#" %>
    <% elsif logged_in_company? %>
      <%= link_to "私は採用したいです", new_work_path %>
    <% else %>
      <%= link_to "私は採用したいです", new_company_path %>
    <% end %>
  </div><!-- End container -->
</div><!-- End hight_light -->

<div class="white_bg">
  <div class="container margin_60">

    <div class="main_title">
      <h2 class="nomargin_top">仕事一覧</h2>
      <p>
        やりたい仕事がきっとみつかる！
      </p>
    </div>
    <h4>給料が一番高い仕事</h4>
    <div class="row">
      <% @top_high_salary_works.each do |work| %>
        <div class="col-md-6">
          <%= render work, :type_baner => "Top Salary" %>
        </div>
      <% end %>
    </div>
    <h4>もうすぐ終わる仕事</h4>
    <% count = 0 %>
    <div class="row">
      <% @top_recent_works.each do |work| %>
        <div class="col-md-6">
          <%= render work, :type_baner => "Deadline" %>
          <% if count % 2 == 0 %>
            <div class="w-100"></div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div><!-- End container -->
</div><!-- End white_bg -->

<!-- End Content =============================================== -->

</body>

<!-- Mirrored from www.ansonika.com/quickfood/index_7.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Jul 2018 03:29:04 GMT -->
