<!-- Login modal -->
<div style="margin-top: 50px; margin-bottom: 100px">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <div class="popup-form" id="myLogin">
        <%= form_for(:session, url: login_path, class: "popup-form") do |f| %>
          <div class="login_icon"><i class="icon_lock_alt"></i></div>
          <%= f.email_field :email, class: "form-control form-white", placeholder: "メールアドレス" %>
          <%= f.password_field :password, class: "form-control form-white", placeholder: "パスワード" %>
          <div class="text-left">
            <a href="#">パスワードを忘れた場合はこちら</a>
          </div>
          <%= f.submit "ログイン", class: "btn btn-submit" %>
        <% end %>
        <hr>
        <a class="btn btn-block btn-social btn-twitter">
          <i class="social_facebook"></i>
          <span class="fa fa-twitter">Facebookでログインする</span>
        </a>
        <a class="btn btn-block btn-social btn-twitter">
          <i class="social_googleplus"></i>
          <span class="fa fa-twitter">Googleでログインする</span>
        </a>
        <h5><%= link_to "アカウントをお持ちでないですか？ 登録", new_student_path %></h5>

      </div>
    </div>
  </div>
  <!-- End modal -->
</div>
