<h1>Sign up</h1>

<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                            <%= form_for(@company) do |f| %>
                            <%= render 'shared/cpn_error_messages' %>

                            <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <%= f.text_field :name, class: 'form-control', placeholder: "Your name"  %>
                            </div>
                            
                            <div class="form-group">
                            <%= f.email_field :email, class: 'form-control', placeholder: "Email"%>
                            </div>

                            <div class="form-group">
                            <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                            </div>

                            <div class="form-group">
                            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Re-password" %>
                            </div>

                            <div class="form-group">
                            <%= f.text_field :location, class: 'form-control', placeholder: "Company location" %>
                            </div>

                            <%= f.submit "Create my account", class: "btn btn-primary" %>

                            <%= link_to "Student signup", students_new_url %>
                            <% end %>
                    </div>
                    <div class="signup-image">
                        <%= image_tag("signup-image.jpg", :alt => "rss feed") %>
                    </div>
                </div>
            </div>
</section>