<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/sub_header_cart.jpg" data-natural-width="1400" data-natural-height="350">
  <div id="subheader">
    <div id="sub_content">
      <h1><%= @company.name %></h1>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section><!-- End section -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="row">
    <div class="col-md-3">
      <div id="cart_box">
        <table class="table table_summary">
          <tbody>
            <tr>
              <td>
                実施中の仕事 <span class="pull-right">6</span>
              </td>
            </tr>
            <tr>
              <td>
                終わった仕事 <span class="pull-right">10</span>
              </td>
            </tr>
            <tr>
              <td>
                待っている仕事 <span class="pull-right">12</span>
              </td>
            </tr>
            <tr>
              <td>
                拒否された仕事 <span class="pull-right">10</span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div><!-- End col-md-3 -->

    <div class="col-md-6">
      <div class="box_style_2" id="order_process">
        <h2 class="inner">情報</h2>
        <div class="form-group">
          <label>名前</label>
          <p type="text" class="form-control" id="firstname_order" name="firstname_order" placeholder="First name"><%= @company.name %></p>
        </div>
        <div class="form-group">
          <label>場所</label>
          <p type="text" class="form-control" id="lastname_order" name="lastname_order" placeholder="Last name"><%= @company.address %></p>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <label>自己PR</label>
            <p class="form-control" style="height:150px" placeholder="例：興味や長所など…" name="notes" id="notes"><%= @company.pr_content %></p>
          </div>
        </div>
        <%= link_to "情報を編集", edit_company_path , class: "btn_1"%>
      </div><!-- End box_style_1 -->
    </div><!-- End col-md-6 -->

    <div class="col-md-3" id="sidebar">
      <div class="theiaStickySidebar">
        <div id="cart_box">
          <h3>実施中の仕事<i class="icon-pencil-7 pull-right"></i></h3>
          <table class="table table_summary">
            <tbody>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-arrows-cw-1"></i></a> <strong>1x</strong> Enchiladas
              </td>
              <td>
                <strong class="pull-right">$11</strong>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-arrows-cw-1"></i></a> <strong>2x</strong> Burrito
              </td>
              <td>
                <strong class="pull-right">$14</strong>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-arrows-cw-1"></i></a> <strong>1x</strong> Chicken
              </td>
              <td>
                <strong class="pull-right">$20</strong>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-arrows-cw-1"></i></a> <strong>2x</strong> Corona Beer
              </td>
              <td>
                <strong class="pull-right">$9</strong>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-arrows-cw-1"></i></a> <strong>2x</strong> Cheese Cake
              </td>
              <td>
                <strong class="pull-right">$12</strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div><!-- End cart_box -->
      </div><!-- End theiaStickySidebar -->
    </div><!-- End col-md-3 -->

    <div class="col-md-3" id="sidebar">
      <div class="theiaStickySidebar">
        <div id="cart_box">
          <h3>終わった仕事<i class="icon-flag-3 pull-right"></i></h3>
          <table class="table table_summary">
            <tbody>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-clock-6"></i></a> <strong>1x</strong> Enchiladas
              </td>
              <td>
                <strong class="pull-right">$11</strong>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-clock-6"></i></a> <strong>2x</strong> Burrito
              </td>
              <td>
                <strong class="pull-right">$14</strong>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-clock-6"></i></a> <strong>1x</strong> Chicken
              </td>
              <td>
                <strong class="pull-right">$20</strong>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-clock-6"></i></a> <strong>2x</strong> Corona Beer
              </td>
              <td>
                <strong class="pull-right">$9</strong>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#0" class="remove_item"><i class="icon-clock-6"></i></a> <strong>2x</strong> Cheese Cake
              </td>
              <td>
                <strong class="pull-right">$12</strong>
              </td>
            </tr>
            </tbody>
          </table>
          <hr>
          <a class="btn_full" href="#">仕事の管理</a>
        </div><!-- End cart_box -->
      </div><!-- End theiaStickySidebar -->
    </div><!-- End col-md-3 -->
  </div><!-- End row -->
</div><!-- End container -->
