<!-- Header ================================================== -->
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col--md-4 col-sm-4 col-xs-4">
        <%= link_to image_tag("logo.png", id: "logo", class: "hidden-xs", width: 190, height: 23, alt: "", "data-retina": true), root_path %>
      </div>
      <nav class="col--md-8 col-sm-8 col-xs-8">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
        <div class="main-menu">
          <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">言語<i class="icon-down-open-mini"></i></a>
              <ul>
                <li><%= link_to "日本語", locale: "ja" %></li>
                <li><%= link_to "English", locale: "en" %></li>
              </ul>
            </li>
            <li><a href="#">ヘルプ</a></li>
            <li><a href="#">アバウト</a></li>

            <% if logged_in_student? %>
              <li> <%= link_to "仕事の管理", works_student_path(@current_student.id) %></li>
              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu"><%= @current_student.name %><i class="icon-down-open-mini"></i></a>
                <ul>
                  <li><%= link_to "マイページ", student_path(@current_student.id) %></li>
                  <li><%= link_to "情報の編集", edit_student_path(@current_student.id) %></li>
                  <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                </ul>
              </li>
            <% elsif logged_in_company? %>
              <li> <%= link_to "仕事の管理", works_company_path(@current_company.id) %></li>
              <li class="submenu">
                <a href="javascript:void(0);" class="show-submenu"><%= @current_company.name %><i class="icon-down-open-mini"></i></a>
                <ul>
                  <li><%= link_to "マイページ", company_path(@current_company.id) %></li>
                  <li><%= link_to "情報の編集", edit_company_path(@current_company.id) %></li>
                  <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li> <%= link_to "ログイン", login_path %></li>
            <% end %>
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div><!-- End row -->
  </div><!-- End container -->
</header>
<!-- End Header =============================================== -->